@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

body{
    background-image: url(background.jpeg);
    background-size: cover;
    }

header{
    margin-left: 45px;
}

.pokedex{
    position: absolute;
    top: 100px; ;
}

main {
    margin-left: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding:20px;

} 
.card {
    margin-left: 40px;
    width: 200px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  }

  .card >img{
    width: 100%;
    padding-top: 30px;  
}

/*  main {
display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}  */


.card > h3{
    color: white;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding-top: 10px;
   
}
